html 
    head 
        title New Message 
        link(rel='stylesheet' type="text/css" href='/stylesheets/form.css')
    body 
        div#title-container
            h1 Create Your Message! 

        form(method="POST" action="/new")
            div#center
                #note
                    p#header
                    textarea(name="messageText",  cols="25", rows="8" placeholder="Your message here." maxlength="154" spellcheck="false")
                    input(name="userName" placeholder="- Your name here." maxlength="22" type="text" spellcheck="false")

            div#div-btn
                
                button(type="submit") Send

