doctype html
html 
  head
  
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Messages Board
    link(rel='stylesheet' type="text/css" href='/stylesheets/stylePage.css')

    script(src="/javascripts/dragNote.js" defer)
    script(src="/javascripts/rotateNote.js" defer)
    script(src="/javascripts/changeNoteColor.js" defer)

  
  body

    div#title-container
      button#add-note-btn +
      div
        h1 Messages board
        p#messg-p Leave your message here!
    

        each message in messages
          .message
            p User: #{message.user}
            p Text: #{message.text}

    
    div#messages-container
      


