@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');


body{
    background-color: #D7D7D7;
}

#title-container{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    
}


h1 {
    margin: 0;
    padding:  0px 50px;
    color: #BABABA;
    font-size: 45px;
}
#messg-p{
    margin: 0;
    padding:  0px 150px;
    color: #BABABA;
    font-size: 20px;
}

#add-note-btn{
    font-size: 25px;
    color: #BABABA;
    padding: 5px 5px 5px 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #BABABA;
    background-color: #D7D7D7;
    text-decoration: none;

}
#add-note-btn:hover{
    background-color: #d2d2d2;
}

#messages-container{
    padding: 20px 30px;
}


#mynote{
    position: absolute;

    background-color: pink;
    font-family: "Gaegu", sans-serif;
    font-size: 20px;
    padding: 0px 13px 13px 13px;
    box-shadow: 10px 10px 10.3px -1px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    width: 194px;
    height: 221px;
   
}
#mynoteheader{
    background-image: linear-gradient(#fba5b4, pink);
    width: 220px;
    height: 32px;
    margin-left: -13px;
    margin-right: -13px;
    cursor: move;
    
}


.note{
    
    border: none;
    background-color: pink;
    font-family: "Gaegu", sans-serif;
    font-size: 15px;
    outline: none;
}

#message{  
    resize: none;
    
}


#messageAuthor{
    text-align: end;
    width: 188px;
}